@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-secondary-gradient {
    @apply bg-gradient-to-l from-secondary   to-secondary-dark;
  }
  .bg-brand-gradient {
    @apply bg-gradient-to-r from-brand via-brand to-brand-light;
  }
}

/* custom hero bg */

.hero {
  background: linear-gradient(#001528, #011b32d7), url(/images/hero-bg.jpg);
  /* position: relative; */
  background-size: cover;
}

/* Progress bar */
#nprogress {
  position: relative;
  z-index: 999999999999999999999999999999999999999;
}
#nprogress .bar {
  background: red !important ;
  height: 3px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px red, 0 0 5px red;
}

#nprogress .spinner-icon {
  display: none;
  /* border-top-color: #17688D; */
  /* border-left-color: #17688D; */
}
