@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-secondary-gradient {
    @apply bg-gradient-to-l from-secondary   to-secondary-dark;
  }
  .bg-brand-gradient {
    @apply bg-gradient-to-r from-brand via-brand to-brand-light;
  }
}

/* custom hero bg */

.hero {
  background: linear-gradient(#001528, #011b32d7), url(/images/hero-bg.jpg);
  /* position: relative; */
  background-size: cover;
}

.contact-sidebar {
  background: linear-gradient(#0f455e, #1d8cbfdc), url(/images/hero-bg.jpg);
  /* position: relative; */
  background-size: cover;
}

/* Progress bar */
#nprogress {
  position: relative;
  z-index: 999999999999999999999999999999999999999;
}
#nprogress .bar {
  background: red !important ;
  height: 3px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px red, 0 0 5px red;
}

#nprogress .spinner-icon {
  display: none;
  /* border-top-color: #17688D; */
  /* border-left-color: #17688D; */
}

/* Custom whatsapp widget styling */
._2iWL7,
._1bpcM {
  position: fixed !important;
  z-index: 10000 !important;
  right: 20px !important;
}
._2iWL7 {
  bottom: 80px !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}
._2rVjT {
  padding: 10px 14px;
}

._1bpcM {
  bottom: 0 !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px !important;
  background-color: rgb(79, 206, 93) !important;
  color: rgb(255, 255, 255) !important;
  border: 1px rgba(0, 0, 0, 0.055) solid;
}
